In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/cleaned_kc.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21143 entries, 0 to 21142
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     21143 non-null  int64
 1   date                   21143 non-null  object
 2   price                  21143 non-null  float64
 3   bedrooms               21143 non-null  int64
 4   bathrooms              21143 non-null  float64
 5   sqft_living            21143 non-null  int64
 6   sqft_lot               21143 non-null  int64
 7   floors                 21143 non-null  float64
 8   condition              21143 non-null  int64
 9   grade                  21143 non-null  int64
 10  sqft_above             21143 non-null  int64
 11  sqft_basement          21143 non-null  float64
 12  yr_built               21143 non-null  int64
 13  zipcode                21143 non-null  int64
 14  sqft_living15          21143 non-null  int64
 15  sqft_lot15             21143 non-null  int64
 16  age                    21143 non-null  object
 17  day_of_year            21143 non-null  int64
 18  bed_bath_ratio         21143 non-null  float64
 19  level_ratio            21143 non-null  float64
 20  relative_living_space  21143 non-null  int64
 21  relative_lot_size      21143 non-null  int64
 22  level_difference       21143 non-null  float64
dtypes: float64(7), int64(14), object(2)
memory usage: 3.7+ MB