In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('data/cleaned_kc.csv')

In [7]:
df

,price,day_of_year,relative_living_space,relative_lot_size,bed_bath_ratio,grade,waterfront_loc
0,221900.0,286,-160,0,3.000000,7,NaN
1,538000.0,343,880,-397,1.333333,7,Elliott Bay
2,180000.0,56,-1950,1938,2.000000,6,NaN
3,604000.0,343,600,0,1.333333,7,NaN
4,510000.0,49,-120,577,1.500000,8,Lake Sammamish
...,...,...,...,...,...,...,...
21592,360000.0,141,0,-378,1.200000,8,NaN
21593,400000.0,54,480,-1387,1.600000,8,NaN
21594,402101.0,174,0,-657,2.666667,7,NaN
21595,400000.0,16,190,1101,1.200000,8,NaN
21596,325000.0,288,0,-281,2.666667,7,NaN